/* start variables */
:root{
    --main-color:#10cab7;
    --section-padding: 60px;
    --secondary-color:#2c4755;
    --section-color: #f6f6f6;
}

/* end variables */
/* Start global Rulze */
*{
    box-sizing: border-box;
}
body{ 
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}
/* end global rulze*/


.container{
    padding-left: 15px;
    padding-right:15PX ;
    width: 600px;
    margin: auto;
}
@media only screen and (min-width : 320px) {
    .container{
        width: 310px;
    }
    }
    
    /* Extra Small Devices, Phones  */
    @media only screen and (min-width : 480px) {
    .container{
        width: 470px;
    }
    }
    
    /* Small */
    @media (min-width: 768px) {
        .container {
          width: 750px;
        }
      }
      /* Medium */
      @media (min-width: 992px) {
        .container {
          width: 970px;
        }
      }
      /* Large */
      @media (min-width: 1200px) {
        .container {
          width: 1170px;
        }
      }
.header{
    padding:20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 60px;
     }
     .header .link{
    position: relative;
    
     }
     .header .container .link:hover .icon span:nth-child(2){
    width: 100% ;
     } 
     .header .link .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
     }
    .header .container .link .icon span {
    height: 2px;
    background-color: #333;
    margin-bottom: 5px;
    }
    .header .container .link .icon span:first-child {
    width: 100%;
    }
    
    .header .container .link .icon span:nth-child(2) {
        width: 60%;
        transition: 0.3s;
    }
    
    .header .container .link .icon span:last-child{
    width: 100%;
    }
    
    .header .link ul{
    list-style:none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    min-width: 200px;
    background-color: #f6f6f6;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
    
    }
    .header .link:hover ul {
    display: block;
    }
    
    .header .link ul::before{
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6  transparent ;
    position:absolute;
    right: 5px;
    top: -20px;
    }
    .header .link ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
    }
    .header .link ul li a:hover {
    padding-left: 25px;
    }
    .header .link ul li:not(:last-child) a{
    border-bottom:1px solid #ddd;
    }
.landing{
    background-image: url("../images/wp5265713.jpg");
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
    }
    .landing .intro-text{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%);
        text-align: center;
        width: 320px;
        max-width: 100%;

    }
    .landing .intro-text h1 {
        color: var(--main-color);
        margin:0;
        font-size: 50px;
        font-weight: bold;
      
    }

    .landing .intro-text p {
            font-size: 19px;
            line-height: 1.8;
    }
    .feature{
        padding-top: 60px;
        padding-bottom: 60px;

    }
    .feature .container{
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
        grid-gap: 20px;

    }
    .feature .container .feat{
        text-align: center;
        padding: 20px;
    }
    .feature .container .feat i{
        color:var(--main-color);
    }
    .feature .container .feat h3{
        font-weight: 800;
        margin: 30px 0;
    }
    .feature .container .feat p{
        line-height: 1.6;
        color: #777;
    }
    .services{
        padding-top: var(--section-padding);
        padding-bottom: var(--section-padding);
    }
    .special-heading{
        font-size: 100px;
        color: #ebeced;
        text-align: center;
        letter-spacing: -3px;
        margin: 0;
    }
    .special-heading + p{
        margin: -30px;
        color:#797979;
        text-align: center;
    }
    .services-content{
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
        margin-top: 100px;
    }
    .services-content .srv{
        display: flex;
        margin-bottom: 40px;
        
        
    }
    .services-content .srv i{
        color: var(--main-color);
        flex-basis: 60px;
        

    }
    .services-content .srv .text{
       flex: 1;
    
    }
    .services-content .srv h3{
     margin: 0 0 20px;

    }
    .services-content .srv .text p{
        line-height: 1.6;

    }
   .services .services-content .image img{
        width: 260px;
    }
    .services .services-content .image{
        position: relative;
        text-align: center;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
    }
   .services .services-content .image::before{
        content: '';
        background-color: var(--secondary-color);
        width: 100px;
        top: -50px;
        height: calc(100% + 100px);
        position: absolute ;
        right: 0;
        z-index: -1;
    }
    .portfolio{
        padding-top: var(--section-padding);
        padding-bottom: var(--section-padding);
        background-color: var(--section-color);
    }
    .portfolio-content{
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
        margin-top: 100px;
        grid-gap: 30px;
    }
    .portfolio .portfolio-content .card{
        background-color:white;
        
    }
    .portfolio .portfolio-content .card img{
        max-width: 100%;
    
    }
    .portfolio .portfolio-content .card .info{
        padding: 20px;
    }
    .portfolio .portfolio-content .card .info h3{
        margin: 0;

    }
    .portfolio .portfolio-content .card .info p {
        color: #777;
        line-height: 1.6;
        margin-bottom:0 ;
    }
    .About{
        padding-top: var(--section-padding);
        padding-bottom: calc(var(--section-padding) + 60px);
    }
    .About .container .About-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 100px;
    }
    @media (max-width:991px){
        .About .container .About-content{
            text-align: center;
            flex-direction: column;
        }
    }
.About .About-content .image {
    width: 250px;
    height: 375px;
    position: relative;
    margin-top: 100px;
}
@media (max-width:991px){
    .About .About-content .image{
        margin: 0 auto 60px;
    }
}
.About .About-content .image img{
    height: 375px;
    max-width: 100%;

}
.About .About-content .image::before {
    content: " ";
    width: 80px;
    height: calc(100% + 80px);
    top: -40px;
    position: absolute;
    z-index: -1;
    background-color: #ddd;
    left: -20px;
} 
.About .About-content .image::after{
    content: " ";
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
   position: absolute;
   top: -40px;
   right: -150px;
   z-index: -1;
}
@media (max-width:991px){
    .About .About-content .image::before,
    .About .About-content .image::after{
        display: none ;
    }
}
.About .About-content .text{
    flex-basis: calc(100% - 500px);
    margin-top: 80px;

}
.About .About-content .text p:first-of-type{
    margin-bottom: 50px ;
    font-weight: bold;
    line-height: 2;

}
.About .About-content .text hr{
    width: 50%;
    border-color: var(--main-color);
    display: inline-block;

}
.About .About-content .text p:last-of-type{
    line-height: 2;
    color: #777;
}
.contact{
    padding-top: var(--section-padding);
        padding-bottom: var(--section-padding);
}
.contact .container .info {
padding-bottom: var(--section-padding);
padding-top: var(--section-padding);
text-align: center;
}
.contact .container .info .label{
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .container .info .link{
    display: block  ;
    font-size: 35px;
    color: var(--main-color);
    font-weight: 800;
    text-decoration: none ;
}
.contact .container .info .social{
    display: flex;
    justify-content: center;

}
.contact .container .info .social i{
    margin-left: 15px;
    color: var(--secondary-color);
}
@media (max-width: 767px){
    .contact .container .info .label,
    .contact .container .info .link{
        font-size: 25px;
    }
}
.footer{
    background-color: var(--secondary-color);
    padding: 40px 20px;
    color: white;
    text-align: center;
}
.footer span{
    color: var(--main-color);
    font-weight: bold;
}